* {
  font-family: Verdana, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

header {
  background-color: #f8f8f8;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  padding: 20px;
}

.mainTitle {
  color: #143774;
}

.pTitle {
  color: #1792d2;
}

.Menu {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
}

nav ul {
  padding: 10px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav li a {
  justify-content: space-between;
  text-decoration: none;
  margin: 5px;
  color: #707070;
}

a:hover,
a:focus {
  border-bottom: 1px solid #1792d2;
  color: #1792d2;
}

/* Main*/

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

main {
  width: 80%;
  margin: 20px 30px;
}

.article-title {
  font-family: "Ubuntu", serif;
  color: #143774;
  font-size: 24px;
  margin: 15px 0;
}

.featured {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #707070;
}

.featured-img {
  width: 100%;
  max-height: 300px;
  object-fit: fill;
}

.info {
  font-family: "Segoe UI", serif;
  font-size: 14px;
  color: #707070;
  margin: 15px 0;
}

.body {
  font-family: "Ubuntu", serif;
  font-size: 15px;
  letter-spacing: 3.2px;
  color: #707070;
  margin: 15px 0;
}

.info-body {
  color: #1792d2;
  text-decoration: none;
  font-size: 15px;
}

.read-more {
  font-family: "Ubuntu Bold" serif;
  font-size: 14px;
  color: #1792d2;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  text-decoration: none;
  margin-bottom: 10px;
}

.recent {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.recent-col-secondary {
  width: 40%;
  margin: 15px;
  height: auto;
}

.recent-col-main {
  width: 60%;
  margin: 0 auto;
}

.secondary-img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

/* Aside */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px 30px;
}

.widget-title {
  color: #143774;
  font-family: "Ubuntu Light", serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 3.6px;
}

.widget-body {
  font-family: "Ubuntu Light", serif;
  font-size: 1rem;
  color: #143774;
}

.widget-recent-title {
  font-family: "Ubuntu", serif;
  font-size: 1.05rem;
  color: #143774;
  margin: 10px 0;
  font-weight: 600;
}

.widget-img {
  height: auto;
  width: 100%;
  margin: 10px 0;
}

.side-widget-featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 20%;
  border: 12px solid #ebebeb;
  padding: 5px;
}

.side-widget-recent {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: auto;
  border: 12px solid #ebebeb;
  padding: 5px;
}

.widget-recent {
  border-top: 2px solid #ebebeb;
}

/* Footer */

footer {
  background-color: #f8f8f8;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  font-weight: 600;
}

@media screen and (max-width: 675px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav li {
    text-align: center;
    margin: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .recent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .recent-col-main {
    width: auto;
    height: auto;
  }

  .recent-col-secondary {
    width: auto;
    height: auto;
    margin: 15px 0px 15px 0;
  }

  .sidebar {
    width: auto;
  }

  .widget-recent {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }

  .widget-img {
    width: 90%;
  }
}
