* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  padding: 20px;
}

.mainTitle {
  color: #143774;
}

.pTitle {
  color: #1792d2;
}

.Menu {
  display: flex;
  font-size: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;

  list-style-type: none;
}

nav li a {
  text-decoration: none;
  margin: 5px;
  color: #707070;
}

a:hover,
a:focus {
  border-bottom: 2px solid #1792d2;
  color: #1792d2;
}
